<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Aquaponics Web Portal.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  <connectionStrings>
    <add name="AquaponicsDbContext" connectionString="data source=localhost;initial catalog=Aquaponics;persist security info=True;user id=sa;password=aquaponics123456;MultipleActiveResultSets=True;App=EntityFramework;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: 0702cf34-62a5-45c9-9ccf-f9f7b76dfeb9-->